<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <!-- Link to Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>User Details</h1>
        
        <table class="table">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{responseData.id}}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{responseData.name}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{responseData.email}}</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>{{responseData.gender}}</td>
                </tr>
                <tr>
                    <th>Status</th>
             {{#if (eq responseData.status "active")}}
                            <td style="color: green;">{{responseData.status}}</td>
                        {{else}}
                            <td style="color: red;">{{responseData.status}}</td>
                        {{/if}}
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Link to Bootstrap JS and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
